@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

}

.user-draggable {
  user-select: none;
  /* Evita selección de texto */
  -webkit-user-drag: none;
  /* Para navegadores WebKit */
  -webkit-touch-callout: none;
  /* Para iOS */
}